{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Coffeed</title>

		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE -->

			<h1>Hi, we’re Paws.</h1>
			<h2>We rescue, shelter and adopt out cats and dogs in NYC.</h2>

			<p>We are extremely proud of the number pet adoptions we have facilitated, and the number of animals we have rescued over the years; successfully placing them with loving families.  Many of these cats and dogs came from dire circumstances and have been given another chance to share their lives with new families..</p>

			<p>Email us now for a list of all adoptable pets: <a mailto:"adoptme@paws.com">adoptme@paws.com</a></p>

			<a href="https://www.facebook.com/pawsnyc" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>

			<a href="https://twitter.com/pawsnyc" target="_blank">
				<img src=" {% static "images/twitter.png" %}" alt="Twitter">
			</a>


			<!-- END HERE -->
		</div><!-- .container -->

	</body>
</html>
